{:paths ["src" "classes"]
 :deps {org.clojure/clojure            {:mvn/version "1.10.2" :scope "provided"}
        cnuernber/dtype-next           {:mvn/version "6.13"}
        techascent/tech.io             {:mvn/version "4.03"}
        net.java.dev.jna/jna           {:mvn/version "5.7.0"}}}
